@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #d44439;
  --theme-color-shadow: rgba(212, 68, 57, .5);
  ---light-color: #f1f1f1;
  --desc-color: #2E3030;
  --desc-color--v2: '#bba8a8';
  --border-color: #e4e4e4;
  --background-color: #f2f3f4;
  --background-color-shadow: rgba(0, 0, 0, 0.3);
  --highlight-background-color: #fff;
}

@layer utilities {
  /* 动画延迟，用于下拉加载动画 */
  .-animation-delay-1 {
    animation-delay: -0.1s
  }
  .-animation-delay-2 {
    animation-delay: -0.2s
  }
  .-animation-delay-3 {
    animation-delay: -0.3s
  }
  .-animation-delay-4 {
    animation-delay: -0.4s
  }
  .-animation-delay-5 {
    animation-delay: -0.5s
  }
  .-animation-delay-6 {
    animation-delay: -0.5s
  }

  /* 防止白色图片导致文字无法显示的背景 */
  .bg-decorate {
    background: linear-gradient(hsla(0, 0%, 100%, 0), hsl(0, 0%, 43%, .4));
  }

  /* 滤镜 */
  .bg-filter {
    background: rgba(7, 17, 27, 0.2);
  }

  .bg-filter-dark {
    background: rgba(7, 17, 27, 0.7);
  }

  /* 单行文字省略 */
  .text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* 跑马灯背景 */
  .bg-marquee {
    background: linear-gradient(90deg, #200122 0%, #6f0000 100%);
  }
}

body {
  font-family: -apple-system, Helvetica, sans-serif;
}

/* 轮播图 */
.swiper-pagination-bullet {
  background-color: var(--theme-color) !important;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--theme-color) !important;
}

/* Album 页面切换 */
.album-motion-appear {
  transform: rotateZ(30deg) translate3d(100%, 0, 0) !important;
}

.album-motion-appear-active,
.album-motion-appear-done {
  transition: transform 0.3s !important;
  transform: rotateZ(0deg) translate3d(0, 0, 0) !important;
}

.album-motion-exit {
  transform: rotateZ(0deg) translate3d(0, 0, 0) !important;
}

.album-motion-exit-active {
  transition: transform 0.3s;
  transform: rotateZ(30deg) translate3d(100%, 0, 0) !important;
}

/* 扩大 Tab 点击范围 */
.render-home-link {
  display: block;
  height: 100%;
  padding: 0 0.5rem;
  line-height: 2.75rem;
}
