@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #d44439;
  --theme-color-shadow: rgba(212, 68, 57, .5);
  ---light-color: #f1f1f1;
  --desc-color: #2E3030;
  --desc-color--v2: '#bba8a8';
  --border-color: #e4e4e4;
  --background-color: #f2f3f4;
  --background-color-shadow: rgba(0, 0, 0, 0.3);
  --highlight-background-color: #fff;
}

@layer utilities {
  /* 动画延迟，用于下拉加载动画 */
  .-animation-delay-1 {
    animation-delay: -0.1s
  }
  .-animation-delay-2 {
    animation-delay: -0.2s
  }
  .-animation-delay-3 {
    animation-delay: -0.3s
  }
  .-animation-delay-4 {
    animation-delay: -0.4s
  }
  .-animation-delay-5 {
    animation-delay: -0.5s
  }
  .-animation-delay-6 {
    animation-delay: -0.5s
  }

  /* 防止白色图片导致文字无法显示的背景 */
  .bg-decorate {
    background: linear-gradient(hsla(0, 0%, 100%, 0), hsl(0, 0%, 43%, .4));
  }
}
