/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable selector-class-pattern */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #d44439;
  --theme-color-shadow: rgb(212 68 57 / 50%);
  --light-color: #f1f1f1;
  --desc-color: #2e3030;
  --desc-color-v2: #bba8a8;
  --border-color: #e4e4e4;
  --background-color: #f2f3f4;
  --background-color-shadow: rgb(0 0 0 / 30%);
  --highlight-background-color: #fff;
}

@layer utilities {
  /* 动画延迟，用于下拉加载动画 */
  .-animation-delay-1 {
    animation-delay: -0.1s;
  }

  .-animation-delay-2 {
    animation-delay: -0.2s;
  }

  .-animation-delay-3 {
    animation-delay: -0.3s;
  }

  .-animation-delay-4 {
    animation-delay: -0.4s;
  }

  .-animation-delay-5 {
    animation-delay: -0.5s;
  }

  .-animation-delay-6 {
    animation-delay: -0.5s;
  }

  /* 防止白色图片导致文字无法显示的背景 */
  .bg-decorate {
    background: linear-gradient(hsl(0deg 0% 100% / 0%), hsl(0deg 0% 43% / 40%));
  }

  /* 滤镜 */
  .bg-filter {
    background: rgb(7 17 27 / 20%);
  }

  .bg-filter-dark {
    background: rgb(7 17 27 / 70%);
  }

  /* 单行文字省略 */
  .text-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* 跑马灯背景 */
  .bg-marquee {
    background: linear-gradient(90deg, #200122 0%, #6f0000 100%);
  }

  /* 暂停动画 */
  .rotating-pause {
    animation-play-state: paused;
  }
}

body {
  font-family: -apple-system, Helvetica, sans-serif;
}

/* 轮播图 */
.swiper-pagination-bullet {
  background-color: var(--theme-color) !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--theme-color) !important;
}

/* 页面切换动画 */
.page-change-appear {
  transform: rotateZ(30deg) translate3d(100%, 0, 0);
}

.page-change-appear-active,
.page-change-appear-done {
  transition: transform 0.3s;
  transform: rotateZ(0deg) translate3d(0, 0, 0);
}

.page-change-exit {
  transform: rotateZ(0deg) translate3d(0, 0, 0);
}

.page-change-exit-active {
  transition: transform 0.3s;
  transform: rotateZ(30deg) translate3d(100%, 0, 0);
}

/* 扩大 Tab 点击范围 */
.render-home-link {
  display: block;
  height: 100%;
  padding: 0 0.5rem;
  line-height: 2.75rem;
}

/* 播放器动画切换 */
.normal-player-enter {
  transition: all 0.2s;
  transform: scale(1.2);
}

.normal-player-enter-active {
  transition: all 0.1s;
  transform: scale(1);
}

.normal-player-exit {
  transform: translate3d(0, 0, 0) scale(1);
}

.normal-player-exit-active {
  transition: all 0.4s;
  transform: translate3d(0, 100%, 0) scale(0.6);
}
